.studentTable,
td,
th {
	border: 2px solid black;
	text-align: center;
}

.headers {
	color: green;
}

.oddRow {
	background-color: purple; /*Το άσπρο δε θα φαινόταν καθόλου*/
}

.evenRow {
	background-color: cyan;
}
